.cart-container {
    // width: 100%;
    @include flexCenter(column);
    padding: clamp(100px, 300px, 400px);
    padding-top: 20px;

    @media only screen and (max-width: 860px) {
        padding: 10px;
    }

    .items-list{
        @include flexCenter(column);
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 600px;
        @media only screen and (max-width: 860px) {
            padding: 10px;
            width: 85%;
        }
    }

    .gdpr {
        @include flexCenter(column);
        justify-content: space-between;
        align-items: center;
        border: 2px solid $black;
        border-radius: 10px;
        margin-bottom: 40px;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        width: 600px;
        vertical-align: middle;
        box-shadow: 5px 6px 22px -9px rgba(0, 0, 0, 0.5);
        @media only screen and (max-width: 860px) {
            padding: 10px;
            width: 85%;
        }
    }

    .total {
        @include flexCenter(row);
        justify-content: space-between;
        align-items: flex-start;
        border: 2px solid $black;
        border-radius: 10px;
        margin-bottom: 40px;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        width: 600px;
        vertical-align: middle;
        box-shadow: 5px 6px 22px -9px rgba(0, 0, 0, 0.5);
        @media only screen and (max-width: 860px) {
            padding: 10px;
            width: 85%;
        }
        .text {
            font-weight: 600;
        }

        .price {
            font-weight: 600;
        }
    }

    .pay-button {
        @include button();
    }
}
