.gdpr-logic-container {
    @include flexCenter(column);
    width: 100%;
    .rgpd-container {
        margin: 0;
        @include flexCenter(column);
        justify-content: space-between;
        align-items: center;
        border: 2px solid $black;
        border-radius: 10px;
        margin-bottom: 40px;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        width: 600px;
        vertical-align: middle;
        box-shadow: 5px 6px 22px -9px rgba(0, 0, 0, 0.5);
        @media only screen and (max-width: 860px) {
            padding: 10px;
            width: 85%;
        }


        .rgpd {
            // width: 90%;
            // height: 600px;
            overflow-y: hidden;
            @media only screen and (max-width: 860px) {
                width: 90%;
            }
        }
    }

    .gdpr-please-read {
        text-decoration: underline;
        padding-bottom: 40px;
        cursor: pointer;
    }

    .gdpr-please-accept {
        margin-bottom: 40px;
    }

    input {
        cursor: pointer;
    }
}
