// EESTEC color palette
// https://eestec.net/media/international-board/2015-2016/EESTEC%20Brand%20Policy%20Paper.pdf

$white: #ffffff;
$black: #000000;
$grey: #f0f5ff;
$secondaryBlack: #1d1d1d;
$red: #E52A30;
$redTint1: #FA4952;
$redTint2: #FC7279;
$redShade1: #C10710;
$redShade2: #990008;
$warning: #ffe8a8;
