body {
    font-family: 'Barlow', sans-serif;
    color: $dark900;
    background-color: $white500;

    a {
      color: inherit;
      text-decoration: none;
    }

    .header {
        @include flexCenter(column);
    }
}
