.cart-goto {
    width: 100%;
    font-size: 1.1em;
    vertical-align: bottom;

    span {
        height: 1.4em;
        width: 1.4em;
        margin-left: -1rem;

        text-align: center;
        font-size: .7em;

        border-radius: 50%;
        display: inline-block;
        vertical-align: super;

        background-color: $dark700;
        color: $white700;
    }
}

.cart-list-container {
    width: 70%;
    margin: auto;

    .cart-item-container {
        padding: 2em;

        @include flexCenter(row);
        justify-content: space-between;

        input {
            width: 3em;
        }

        .cart-remove {
            button {
                border-radius: 10px;
                background-color: $commonMint;
                height: 30px;
                font-family: inherit;
                font-weight: lighter;
                border-color: $white500;
                border-image: none;
            }
        }

        .product-item-container {
            width: 60%;
            @include flexCenter(row);
            justify-content: space-between;

            img {
                height: 6em;
            }

            small, .cart-addto, br{
                display: none;
            }
        }
    }
}