.cart-container {

    .header {
        padding-top: 20px;
    }

.cart-goto {
    width: 100%;
    font-size: 1.1em;
    vertical-align: bottom;

    span {
        height: 1.4em;
        width: 1.4em;
        margin-left: -1rem;

        text-align: center;
        font-size: .7em;

        border-radius: 50%;
        display: inline-block;
        vertical-align: super;

        background-color: $dark700;
        color: $white700;
    }
}

.cart-list-container {
    width: 70%;
    margin: auto;

    .remove-button {
        padding-top: 10px;
        button {
        border: none;
        font-weight: 400;
        background-color: $black;
        color: white;
        height: 30px;
        width: 140px;
        font-family: inherit;

        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        transform: skew(-20deg);
    }
}

    .cart-item-container {
        padding: 2em;

        @include flexCenter(row);
        justify-content: space-between;

        input {
            width: 3em;
        }

        .cart-remove {
            button {
                border: none;
                font-weight: 400;
                background-color: $black;
                color: white;
                height: 30px;
                width: 140px;
                font-family: inherit;

                -webkit-transform: skew(-20deg);
                -moz-transform: skew(-20deg);
                -ms-transform: skew(-20deg);
                -o-transform: skew(-20deg);
                transform: skew(-20deg);
            }
        }

        .cart-quantity-adjust {
            button {
                width: 1.8em;
                height: 1.8em;
                margin: 0 10px;
                border-radius: 50%;
                background-color: $dark700;
                color: $white700;
                display: inline-block;
                border: none;

                font-weight: 800;

                &:disabled {
                    color: $dark400;
                }
            }
        }

        .product-item-container {
            width: 60%;
            @include flexCenter(row);
            justify-content: space-between;

            img {
                height: 6em;
            }

            small, .cart-addto, br{
                display: none;
            }
        }
    }
}
}
