.nav-container {

    .navbar {

        .navbar-brand {
            .nav-logo {
                display: inline-block;
                vertical-align: middle;
                height: 100%;
                @include flexCenter(column);
            }
        }
    }

    // This is for phone sized displays
    @media only screen and (min-width: 990px) {
    .navbar-collapse {
        font-size: 1.3em;
        justify-content: space-around;

        .collapse {
            .show {
                background-color: $desaturatedMint;
            }
        }

            .navbar-nav {
                width: 100%;
                @include flexCenter(row);
            }
        }


    }

}
