.product-page {
    @include flexCenter(column);

    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    .products-list-container {
        @include flexCenter(row);
        flex-wrap: wrap;
        align-self: center;
        // This is for phone sized displays
        @media only screen and (min-width: 990px) {
            width: 80%;
        }

    .product-item-container {
        margin: 10px;
        margin-top: 40px;
        max-width: 500px;
        @include flexCenter(column);
        width: 30%;
        height: 30%;
        min-width: 150px;

            .name-and-sale-container {
                h3 {
                    font-size: 1.2em;
                }
                margin: 0;
                width: 100%;
                @include flexCenter(row);
                justify-content: space-between;
            }

            .description-container {
                width: 100%;
                @include flexCenter(row);
                justify-content: flex-start;
            }

            .product-price {
                font-size: 1.5em;
                font-weight: 500;
            }

            button {
                border: none;
                font-weight: 400;
                background-color: $black;
                color: white;
                height: 30px;
                width: 140px;
                font-family: inherit;

                -webkit-transform: skew(-20deg);
                -moz-transform: skew(-20deg);
                -ms-transform: skew(-20deg);
                -o-transform: skew(-20deg);
                transform: skew(-20deg);
            }
        }


        .product-price {
            font-size: 1.5em;
            font-weight: 500;
        }

        .regular-price {
            margin-top: -.8em;
            text-decoration: line-through;
            font-size: 0.7em;
            color: $dark400;
        }
    }
}
